<div class="unicorn-dark-theme">
  <mat-accordion>
    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imprimir deferimento
        </mat-panel-title>
      </mat-expansion-panel-header>


        <div class="alinhamentoButton unicorn-dark-theme">
          <button type='button' mat-button color="primary" (click)='onImprimirDeferimento()'>Gerar declaraçao</button>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imprimir indeferimento
        </mat-panel-title>
      </mat-expansion-panel-header>


        <div class="alinhamentoButton unicorn-dark-theme">
          <button type='button' mat-button color="primary" (click)='onImprimirIndeferimento()'>Gerar declaraçao</button>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imprimir exigência
        </mat-panel-title>
      </mat-expansion-panel-header>


        <div class="alinhamentoButton unicorn-dark-theme">
          <button type='button' mat-button color="primary" (click)='onImprimirExigencia()'>Gerar declaraçao</button>
        </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
