<div class="unicorn-dark-theme">
  <mat-accordion>
    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imprimir deferimento
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="alinhamentoButton unicorn-dark-theme">
        <button type='button' mat-button color="primary" (click)='onImprimirDeferimento()' [disabled]=disabled>Imprimir deferimento</button>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imprimir indeferimento
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="alinhamentoButton unicorn-dark-theme">
        <button type='button' mat-button color="primary" (click)='onImprimirIndeferimento()'>Imprimir
          indeferimento</button>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imprimir exigência
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=nota>Nota fiscal dos bens e mercadorias</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=documento>Documento que comprove a retenção dos bens e/ou
            mercadorias</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=representacao>Representação legal pública</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=visto>Visto de permanência ou passaporte</mat-checkbox>
        </section>

      </div>

      <div class="alinhamentoButton unicorn-dark-theme">
        <button type='button' mat-button color="primary" (click)='onImprimirExigencia()' [disabled]=disabled>Imprimir exigência</button>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imprimir exigência cartorária
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=nota>Nota fiscal dos bens e mercadorias</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=documento>Documento que comprove a retenção dos bens e/ou
            mercadorias</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=representacao>Representação legal pública</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]=visto>Visto de permanência ou passaporte</mat-checkbox>
        </section>

      </div>

      <div class="alinhamentoButton unicorn-dark-theme">
        <button type='button' mat-button color="primary" (click)='onImprimirExigenciaCartoraria()' [disabled]=disabled>Imprimir exigência</button>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
</div>