<!--#region header  -->
<div class="unicorn-dark-theme">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="font-size: 1.1em; color:rgb(224, 231, 255)"><span
          style="color:darkblue; font-size: 1em;">G</span>erência de <span
          style="color:darkblue; font-size: 1em;">C</span>ontrole e <span
          style="color:darkblue; font-size: 1em;">D</span>epósito</span>
      <mat-icon matTooltip="logout" (click)="onLogout()"> directions_run</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img [src]="link" style="width: 2em; height: 2em; transform: rotate(270deg); margin-right: 1em">
  <a class="navbar-brand" href="" style="color: teal; font-size: 1em;">{{usuario}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="alinhamentoItens" *ngIf="false">
  <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=https://codigofonte.uol.com.br" id='qrcode'>
</div>


<!--#endregion -->

<!--#region triagem  -->

<div class="unicorn-dark-theme" *ngIf='cadastro.motivo === undefined || cadastro.motivo.length === 0'>
  <mat-card>
    <mat-card-content>
      <h5 class="example-h2">Sexo</h5>
      <section class="example-section">
        <mat-slide-toggle class="example-margin" color='warn' [(ngModel)]='cadastro.sexo'
          (change)='onSexo(cadastro.sexo)'>
          {{sexo}}
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>
</div>

<div class="alinhamentoItens" style="margin-top: 2em;" *ngIf='this.cadastro.sexo !== undefined'>
  <div>
    <mat-form-field class="unicorn-dark-theme">
      <mat-label>Motivo</mat-label>
      <mat-select color="primary" [(ngModel)]="cadastro.motivo" (selectionChange)='onMotivo(cadastro.motivo)'>
        <mat-option *ngFor="let motivo of opcoes" [value]="motivo">
          {{motivo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf='cadastro.motivo !== undefined && cadastro.motivo.length > 1' class="unicorn-dark-theme">
    <mat-form-field>
      <mat-label>Autorizado?</mat-label>
      <mat-select color="primary" [(ngModel)]='cadastro.listenautorizado'
        (selectionChange)='onAutorizado(cadastro.listenautorizado)'>
        <mat-option *ngFor="let resp of [{value: true, text: 'SIM'}, {value: false, text: 'NÃO'}]" [value]="resp.value">
          {{resp.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="unicorn-dark-theme" *ngIf='onAutorizadotipo === 1 || onAutorizadotipo === 2'>
      <mat-form-field>
        <input matInput type="text" placeholder="Processo" name="numeroprocesso"
          id="numeroprocesso" [(ngModel)]='cadastro.processo' mask='0000/000.000/0000' (focus)='onfocusProcesso()'
          (change)='onProcesso()'>
      </mat-form-field>
    </div>
    <div class="spinner-border text-info spinner" role="status" *ngIf=carregado>
      <span class="sr-only">Loading...</span>
    </div>

  </div>




</div>
<!--#endregion -->

<!--#region autorizado  -->
<div *ngIf="onAutorizadotipo === 1 && cadastro.listenautorizado && cadastro.processo !== undefined && listenprocesso">


  <div class="alinhamentoItens">


    <div class="unicorn-dark-theme">
      <mat-form-field>
        <input matInput type="text" placeholder="Inscriçao Municipal" name="inscricaomunicipal" id="inscricaomunicipal"
          (blur)="buscaNotificado(cadastro.matricula)" (focus)='onFocusMatricula()' [(ngModel)]='cadastro.matricula'
          maxlength="8">
      </mat-form-field>
    </div>

    <div class="spinner-border text-info spinner" role="status" *ngIf=matriculaencontrada>
      <span class="sr-only">Loading...</span>
    </div>

    <div class="unicorn-dark-theme" *ngIf=processoencontrado>
      <mat-form-field>
        <input matInput type="text" placeholder="Nome do titular" name="nomedotitular" id="nomedotitular"
          [(ngModel)]='cadastro.nome' [disabled]="true">
      </mat-form-field>
    </div>


    <mat-accordion class="unicorn-dark-theme" *ngIf=processoencontrado>
      <mat-expansion-panel class="fastamentoAcordion">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dados complementares
          </mat-panel-title>
        </mat-expansion-panel-header>


        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="CPF" name="cpf" id="cpf" [(ngModel)]='cadastro.cpf'
              [disabled]="true">
          </mat-form-field>
        </div>

        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="Concessão" name="concessao" id="concessao"
              [(ngModel)]='cadastro.concessao' [disabled]="true">
          </mat-form-field>
        </div>

        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="Equipamento" name="equipamento" id="equipamento"
              [(ngModel)]='cadastro.equipamento' [disabled]="true">
          </mat-form-field>
        </div>

        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="Local" name="local" id="local" [(ngModel)]='cadastro.local'
              [disabled]="true">
          </mat-form-field>
        </div>

        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="Nome do auxiliar" name="nomeaux" id="nomeaux"
              [(ngModel)]='cadastro.nomeaux' [disabled]="true">
          </mat-form-field>
        </div>

        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="CPF do auxiliar" name="cpfaux" id="cpfaux"
              [(ngModel)]='cadastro.cpfaux' [disabled]="true">
          </mat-form-field>
        </div>

        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="Situação" name="situacao" id="situacao"
              [(ngModel)]='cadastro.situacao' [disabled]="true">
          </mat-form-field>
        </div>

        <div class="unicorn-dark-theme">
          <mat-form-field>
            <input matInput type="text" placeholder="Isento" name="situacao" id="isento" [(ngModel)]='cadastro.isento'
              [disabled]="true">
          </mat-form-field>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>





</div>
<!--#endregion -->

<!--#region não autorizado  -->
<div *ngIf='onAutorizadotipo === 2  && !cadastro.listenautorizado && cadastro.processo !== undefined && listenprocesso'
  class="alinhamentoItens">

  <div class="unicorn-dark-theme">
    <mat-form-field>
      <input matInput type="text" placeholder="Nome" name="nome" id="nome" [(ngModel)]="cadastro.nome">
    </mat-form-field>
  </div>

  <div class="unicorn-dark-theme">
    <mat-form-field>
      <input matInput type="text" placeholder="CPF" name="cpf" id="cpf"  (focus)='onFocusCPF()' (change)='onCPF(cadastro.cpf)'
        [(ngModel)]="cadastro.cpf" maxlength="11">
    </mat-form-field>
  </div>
</div>
<!--#endregion -->

<!--#region views  -->

<div id='abertura' *ngIf='(onAutorizadotipo === 1 || onAutorizadotipo === 2) && exibicao === 1  && listenpreenchimento'>
  <app-abertura></app-abertura>
</div>

<div id='consulta' *ngIf='(onAutorizadotipo === 1 || onAutorizadotipo === 2) && exibicao === 2 && listenpreenchimento'
  class="alinhamentoItens">
  <app-consulta></app-consulta>
</div>

<div id='doacao' *ngIf='(onAutorizadotipo === 1 || onAutorizadotipo === 2) && exibicao === 3 && listenpreenchimento'
  class="alinhamentoItens">
  <app-doacao></app-doacao>
</div>

<div id='entrega' *ngIf='(onAutorizadotipo === 1 || onAutorizadotipo === 2) && exibicao === 4 && listenpreenchimento'
  class="alinhamentoItens">
  <app-entrega></app-entrega>
</div>

<div id='recurso' *ngIf='(onAutorizadotipo === 1 || onAutorizadotipo === 2) && exibicao === 6 && listenpreenchimento'
  class="alinhamentoItens">
  <app-recurso></app-recurso>
</div>

<div id='descarte' *ngIf='(onAutorizadotipo === 1 || onAutorizadotipo === 2) && exibicao === 7 && listenpreenchimento'
  class="alinhamentoItens">
  <app-descarte></app-descarte>
</div>

<!--#endregion -->
