.mat-form-field {
  width: 95%;
  padding-right: 1em;
  padding-left: 1em;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.example-margin {
  margin: 10px;
}

.selectAutorizado {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  width: 15%;
  margin-left: 25%;

}

.alinhamentoItens {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  color: white;
}

.spinner {
  margin-left: 45%;
}

.alinhamentoButton {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: white;
  }

  .mat-form-field-ripple {
    background-color: white;
  }

}

span {
  text-align: center;
  width: 100%;
  font-size: 24pt;
  color: white;
}

.logado {
  color: #00ffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
}

.fastamentoAcordion {
  margin: 0.5em;
}

.email {
  margin-right: 0.5em;
}

.email:hover {
  color: #D3D3D3;
}
