<div class="unicorn-dark-theme">
  <mat-expansion-panel class="fastamentoAcordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gerar recibo
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="unicorn-dark-theme">
      <mat-form-field>
        <input matInput type="text" placeholder="Código" name="codigo" id="codigo" [(ngModel)]='instituicao.codigo'
          (change)='onCodigo()' (focus)='onFocusCodigo()' [required]=true mask='AAAA'>
      </mat-form-field>
    </div>

    <div *ngIf='imprimir'>
      <div class="alinhamentoButton unicorn-dark-theme">
        <button type='button' mat-button color="primary" (click)='onImprimir()'>Gerar declaraçao</button>
      </div>
    </div>
  </mat-expansion-panel>
</div>

