<div class="unicorn-dark-theme">
  <mat-expansion-panel class="fastamentoAcordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Registrar entrega de mercadorias e bens
      </mat-panel-title>
    </mat-expansion-panel-header>


    <mat-form-field>
      <input matInput type="text" placeholder="Auto" name="auto2" id="auto2" [(ngModel)]='abertura.autodeapreensao'
        maxlength='8' (change)='onChangeAuto(this.abertura.autodeapreensao)' (focus)='onFocusAuto()' mask='00.00.00'>
    </mat-form-field>

    <ul *ngIf='listaautos.length > 0' matTooltip="clique para excluir">
      <div *ngFor='let l of listaautos'>
        <li (click)='onDeletarAuto(l)' style="color: #CAE1FF">{{l}}</li>
      </div>
    </ul>

    <mat-form-field>
      <input matInput [matDatepicker]="picker3" placeholder="Data da ciência ou despacho"
        [(ngModel)]='abertura.dataciencia' (blur)=onChangeData()>
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Valor da referência fiscal" name="unif" id="unif" [(ngModel)]='ufir'
        (focus)=onFocusUnif() mask='0,0000' [disabled]=disabledUFIR (change)=onChangeValorRef()>
    </mat-form-field>


    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">lacre</th>
          <th scope="col">grupo</th>
          <th scope="col">peso</th>
          <th scope="col">valor</th>
          <th scope="col">ação</th>
        </tr>
      </thead>
      <tbody *ngIf='arrayLacresApresentacao.length > 0'>
        <tr *ngFor='let lacre of arrayLacresApresentacao'>
          <td>{{lacre.numero}}</td>
          <td>{{lacre.grupo}}</td>
          <td><input type="number" *ngIf='lacre.id === 1' class="form-control" id="peso" style="height: 1em;"
              [(ngModel)]=lacre.peso (change)=onChangePeso(lacre)></td>
          <td>{{lacre.valor}}</td>
          <td><span id='deletar' (click)='onDelete(lacre)'>Remover</span></td>
        </tr>
      </tbody>
    </table>

    <div class="alinhamentoButton">
      <button mat-button color="primary" (click)=onValorTotal()>Gerar total</button>
    </div>

    <mat-form-field>
      <input matInput type="text" placeholder="Valor a pagar" name="valor" id="valor" [disabled]=true [(ngModel)]=valorapagar>
    </mat-form-field>

    <div class="alinhamentoButton">
      <button mat-button color="primary" (click)=onImprimir() [disabled]=disabled>Imprimir recibo</button>
    </div>
  </mat-expansion-panel>
</div>
