<div class="unicorn-dark-theme">
  <mat-expansion-panel class="fastamentoAcordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Registrar entrega de bens
      </mat-panel-title>
    </mat-expansion-panel-header>


    <mat-form-field>
      <input matInput type="text" placeholder="Auto" name="auto2" id="auto2" [(ngModel)]='abertura.autodeapreensao'
        maxlength='8' (change)='onChangeAuto(this.abertura.autodeapreensao)' (focus)='onFocusAuto()' mask='00.00.00'>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Valor da UNIF" name="unif" id="unif" [(ngModel)]='unif' (focus)=onFocusUnif() mask='0.0000'>
    </mat-form-field>


    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">lacre</th>
          <th scope="col">grupo</th>
          <th scope="col">peso</th>
          <th scope="col">peso</th>
          <th scope="col">ação</th>
        </tr>
      </thead>
      <tbody *ngIf='arrayLacresApresentacao.length > 0'>
        <tr *ngFor='let lacre of arrayLacresApresentacao'>
          <td>{{lacre.numero}}</td>
          <td>{{lacre.grupo}}</td>
          <td><input type="number" class="form-control" id="peso" style="height: 1em;"></td>
          <td [(ngModel)]=lacre.valor>{{lacre.valor}}</td>
          <td><span id='deletar' (click)='onDelete(lacre)'>Remover</span></td>
        </tr>
      </tbody>
    </table>

    <div class="alinhamentoButton">
      <button mat-button color="primary" (click)=onImprimir()>Imprimir recibo de entrega</button>
    </div>
  </mat-expansion-panel>
</div>