<div class="unicorn-dark-theme">
  <mat-accordion>
    <mat-expansion-panel class="fastamentoAcordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Consultar processo
        </mat-panel-title>
      </mat-expansion-panel-header>

      <span style='font-size: 1em;'>Tipo de consulta</span>
      <section class="example-section">
        <mat-slide-toggle class="example-margin" color='warn' [(ngModel)]='escolha' (change)='onEscolha(escolha)'>
          {{tipoescolha}}
        </mat-slide-toggle>
      </section>


      <div *ngIf='escolha' div class="alinhamentoButton unicorn-dark-theme">
        <button mat-button color="primary" #submitButton
          (click)='goToLink("http://eportal.rio.rj.gov.br/PC201SICOPWEB/pages/NOVOSICOP/LOGINCAPTCHA.aspx")'
          [disabled]='disabled'>Acessar</button>
      </div>

      <div *ngIf='!escolha' div class="alinhamentoButton unicorn-dark-theme">
        <button mat-button color="primary" #submitButton
          (click)='goToLink("http://www2.rio.rj.gov.br/sicop/")'>Consultar</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
