<div class="alerta" *ngIf="loadingCampos === 2">
  <span>Erro: há campos sem preenchimento</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 3">
  <span>Sucesso: dados salvos</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 4">
  <span>Erro: verifique sua conexão</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 5">
  <span>Erro: acesso não autorizado</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 6">
  <span>Erro: senha ou usuário invalido</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 7">
  <span>Processo copiado</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 8">
  <span>Erro: verifique o código informado</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 9">
  <span>Erro: processo não cadastrado</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 10">
  <span>Erro: matricula inexistente</span>
</div>

<div class="alerta" *ngIf="loadingCampos === 11">
  <span>Código gerado nº: {{codigo}}</span>
</div>
